.imageCard {
  display: flex;
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  overflow: hidden;
  position: relative;
}
.imageItem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
